
h1 {
    color: red;
    font-size: xxx-large;
    font-family: monospace;
    text-align: right;
}
.title {
    color:aqua;
    font-style: oblique;
    position:relative;
    left: 50px;
}
#title {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-stretch: extra-condensed;
}
body{
    background-color: rgb(255, 0, 225)
}
nav{
    color: rgb(170, 205, 14);
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-stretch: expanded; 
    position: fixed;
}
li a:hover :not(.active){
    color: blueviolet;
}
#img-1.visible{
    opacity: 1;
}






/* Basic Reset */
 /* Reset default CSS values */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Navbar styling */
  .navbar {
    display: flex;
    justify-content: space-between; /* Align logo & links horizontally */
    /*"space between" creates the biggest possible space between items */
    align-items: center; /* Align logo & links vertically */
    padding: 1rem 2rem; /* Add padding to the navbar */
    background-color: #333;
    color: #fff;
  }

  .navbar .logo {
    font-size: 1.5rem; 
    font-weight: bold; 
  }

  /* Links styling */
  .nav-links {
    display: flex; 
    gap: 2rem; 
  }

  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }
